@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.container {
		@apply mx-auto max-w-7xl p-4;
	}

	.input {
		@apply w-full py-2 px-3 bg-zinc-800 rounded;
		@apply text-zinc-100;
	}

	.botao.cinza {
		@apply bg-gray-500 hover:bg-gray-700 cursor-pointer;
	}

	.botao {
		@apply text-white font-bold py-2 px-4 rounded cursor-pointer;
	}

	.botao.azul {
		@apply bg-blue-500 hover:bg-blue-700 cursor-pointer;
	}

	.botao.vermelho {
		@apply bg-red-500 hover:bg-red-700 cursor-pointer;
	}
}
